body {
  text-align: center;
  background-color: #F8FFDB;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FF6464;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid #333333;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: #FF6464;
}

.green {
  background-color: #91C483;
}

.blue {
  background-color: #31C6D4;
}

.yellow {
  background-color: #FFE162;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
